<template>
    <!-- App.vue -->
    <v-app>
        <v-navigation-drawer app>
            <!-- -->
            <v-list-item>
                <v-list-item-content>
                <v-list-item-title class="text-h6">
                    Application
                </v-list-item-title>
                <v-list-item-subtitle>
                    <!-- Online -->
                </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list
                dense
                nav
            >
                <v-list-item
                v-for="item in items"
                :key="item.title"
                link
                >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app>
            <!-- -->
            <h3>PAYRITE.NG DEVELOPERS API</h3>
        </v-app-bar>

        <!-- Sizes your content based upon application components -->
        <v-main>

            <!-- Provides the application the proper gutter -->
            <v-container fluid>

                <v-row>
                    <v-col
                    cols="12"
                    sm="12"
                    md="6"
                    lg="6"
                    >
                    <v-card ref="form">
                        <v-card-title>
                            Generate APIs
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-card-text>
                            <v-text-field
                                ref="customerId"
                                v-model="customerId"
                                label="Customer ID"
                                placeholder="Enter the customer ID"
                            ></v-text-field>

                            <v-row>
                                <v-col cols="6" md="6" lg="6" sm="6">
                                    <v-text-field
                                        ref="username"
                                        v-model="username"
                                        label="Username"
                                        placeholder="Enter the Username"
                                    ></v-text-field>

                                </v-col>
                                <v-col cols="6" md="6" lg="6" sm="6">
                                    <v-text-field
                                        ref="password"
                                        v-model="password"
                                        label="Password"
                                        placeholder="Enter the Password"
                                    ></v-text-field>
                                </v-col>
                            </v-row>

                            <v-text-field
                                ref="accountNumber"
                                v-model="accountNumber"
                                label="Account Number"
                                placeholder="Enter the Account Number"
                            ></v-text-field>

                            <v-text-field
                                ref="hash"
                                v-model="hash"
                                label="Hash Code"
                                placeholder="Enter the Hash Codes"
                            ></v-text-field>

                        </v-card-text>
                        <v-divider class="mt-12"></v-divider>
                        <v-card-actions>
                        <v-btn >
                            Reset
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-slide-x-reverse-transition>
                            <v-tooltip
                            v-if="formHasErrors"
                            left
                            >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                icon
                                class="my-0"
                                v-bind="attrs"
                                @click="resetForm"
                                v-on="on"
                                >
                                <v-icon>mdi-refresh</v-icon>
                                </v-btn>
                            </template>
                            <span>Refresh form</span>
                            </v-tooltip>
                        </v-slide-x-reverse-transition>
                        <v-btn
                            color="primary"
                            @click="checkBalance"
                        >
                            Send Request
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-col>
                    <v-col cols="12" sm="12" md="6" lg="6">
                        <v-card>
                            <v-card-title>
                                Response From Server:
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-card-text class="response-card">
                              {{ outputs }}
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            <!-- If using vue-router -->
            <!-- <router-view></router-view> -->
            </v-container>
        </v-main>

        <v-footer app>
            <!-- -->
            © 2022 Payrite.ng
        </v-footer>
    </v-app>

</template>

<script>

export default {

  data: () => ({
    customerId: '',
    username: '',
    password: '',
    accountNumber: '',
    hash: '',
    outputs: '',
    formHasErrors: false,

    items: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard' },
        { title: 'Check Balance', icon: 'mdi-help-box' },
        { title: 'Bulk Transfer', icon: 'mdi-transfer' },
    ],
    right: null,

  }),


  created () {

    // set default
    this.customerId = "205140019";
    this.username = 'adewotol';
    this.password = "abcd1234*";
    this.accountNumber = "0004527849";
    this.hash = "c1f43df56a3606c7827000894ede310a4432a6ccd3f5f4496e9aff9f04e38596df9c0538f92e60496dca8d35eab96b04746f0c810b0921dee0d74d6f5fdcac3f";

  },

  methods: {
    async checkBalance () {

        let xmls = '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:fil="http://tempuri.org/GAPS_Uploader/FileUploader">'+
                        '<soapenv:Header/>'+
                        '<soapenv:Body>'+
                            '<fil:AccountBalanceRetrieval>'+
                                '<!--Optional:-->'+
                                '<fil:xmlString><![CDATA[<AccountBalanceRetrievalRequest>'+
                        '<customerid>205140019</customerid>'+
                        '<username>adewotol</username>'+
                        '<password>abcd1234*</password>'+
                        '<accountnumber>0004527849</accountnumber>'+
                        '<hash>c1f43df56a3606c7827000894ede310a4432a6ccd3f5f4496e9aff9f04e38596df9c0538f92e60496dca8d35eab96b04746f0c810b0921dee0d74d6f5fdcac3f</hash></AccountBalanceRetrievalRequest>]]>'+
                        '</fil:xmlString>'+
                            '</fil:AccountBalanceRetrieval>'+
                        '</soapenv:Body>'+
                    '</soapenv:Envelope>';
        axios.post('http://gtweb6.gtbank.com/gaps_fileuploader_v2/FileUploader.asmx?op=AccountBalanceRetrieval', xmls, {
          headers: {
            'Content-Type':'text/xml',
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET,HEAD,OPTIONS,POST,PUT',
            'Access-Control-Allow-Headers': '*, Origin, Content-Type, Authorization',
            SOAPAction: 'http://tempuri.org/GAPS_Uploader/FileUploader/AccountBalanceRetrieval'
          },
        })
        .then(res => {
            this.outputs = res;
            console.log(res);
        })
        .catch(err => {
            this.outputs = err;
            console.log(err);
        });

    }
  }
}
</script>

<style scoped>
    .response-card{
        height: 415px;
        overflow: scroll;
    }
</style>
